### Import Libraries

In [5]:
import numpy
import pandas
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set() #to override the default matplotlib settings

### Loading the data

In [7]:
raw_data = pandas.read_csv('2.01.+Admittance.csv')
raw_data

      SAT Admitted
0    1363       No
1    1792      Yes
2    1954      Yes
3    1653       No
4    1593       No
..    ...      ...
163  1722      Yes
164  1750      Yes
165  1555       No
166  1524       No
167  1461       No

[168 rows x 2 columns]

### Converting or mapping Yes to 1 and No to 0|

In [15]:
data = raw_data.copy()