In [1]:
import pandas
import numpy
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.cluster import KMeans

In [2]:
data = pandas.read_csv('3.01.+Country+clusters.csv')
data

     Country  Latitude  Longitude Language
0        USA     44.97    -103.77  English
1     Canada     62.40     -96.80  English
2     France     46.75       2.40   French
3         UK     54.01      -2.53  English
4    Germany     51.15      10.40   German
5  Australia    -25.45     133.11  English

### Map the data

In [4]:
data_mapped = data.copy()
data_mapped['Language'] = data_mapped['Language'].map({'English':0,'French':1,'German':2})
data_mapped

     Country  Latitude  Longitude  Language
0        USA     44.97    -103.77         0
1     Canada     62.40     -96.80         0
2     France     46.75       2.40         1
3         UK     54.01      -2.53         0
4    Germany     51.15      10.40         2
5  Australia    -25.45     133.11         0

### Select features using iloc

In [44]:
# x = data_mapped.iloc[:,3:4]
x = data_mapped.iloc[:,3:4]
x

   Language
0         0
1         0
2         1
3         0
4         2
5         0

### Clustering

In [48]:
kmeans = KMeans(3)
kmeans.fit(x)

/usr/local/lib64/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(n_clusters=3)

### Clustering Results

In [49]:
identified_clusters = kmeans.fit_predict(x)
identified_clusters

/usr/local/lib64/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

array([1, 1, 0, 1, 2, 1], dtype=int32)

In [51]:
data_with_clusters = data_mapped.copy()
data_with_clusters['Cluster'] = identified_clusters
data_with_clusters

     Country  Latitude  Longitude  Language  Cluster
0        USA     44.97    -103.77         0        1
1     Canada     62.40     -96.80         0        1
2     France     46.75       2.40         1        0
3         UK     54.01      -2.53         0        1
4    Germany     51.15      10.40         2        2
5  Australia    -25.45     133.11         0        1