In [1]:
import pandas
import numpy
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.cluster import KMeans

In [2]:
data = pandas.read_csv('3.01.+Country+clusters.csv')
data

     Country  Latitude  Longitude Language
0        USA     44.97    -103.77  English
1     Canada     62.40     -96.80  English
2     France     46.75       2.40   French
3         UK     54.01      -2.53  English
4    Germany     51.15      10.40   German
5  Australia    -25.45     133.11  English

### Map the data

In [4]:
data_mapped = data.copy()
data_mapped['Language'] = data_mapped['Language'].map({'English':0,'French':1,'German':2})
data_mapped

     Country  Latitude  Longitude  Language
0        USA     44.97    -103.77         0
1     Canada     62.40     -96.80         0
2     France     46.75       2.40         1
3         UK     54.01      -2.53         0
4    Germany     51.15      10.40         2
5  Australia    -25.45     133.11         0

### Select features using iloc

In [40]:
# x = data_mapped.iloc[:,3:4]
x = data_mapped.iloc[:,:4]
x

     Country  Latitude  Longitude  Language
0        USA     44.97    -103.77         0
1     Canada     62.40     -96.80         0
2     France     46.75       2.40         1
3         UK     54.01      -2.53         0
4    Germany     51.15      10.40         2
5  Australia    -25.45     133.11         0