In [33]:
True or False

True

In [34]:
True and False

False

In [35]:
True and True

True

In [36]:
True or True

True

In [38]:
False or True

True

In [39]:
False and False

False

In [40]:
False or False

False

In [41]:
False or not True and not False

False

In [42]:
True and not False and True or not False

True

In [43]:
True or False and False

True

In [44]:
False and True or False

False

In [66]:
def trial(x):
    result = 4 + x
    return result
    
y = trial(8)
new = y + 8
new

20

In [83]:
x=100
if x > 200:
    print('Big')
elif 200 >= x > 100:
    print('Average')
else:
    print('Small')

Small

In [86]:
x = -1

if x > 200: 
    print ("Big")
elif x > 100 and x <= 200:
    print ("Average")
elif 100 >= x >= 0:
    print('Small')
else:
    print('Negative')

Negative

In [1]:
def exponentiation_exp_2(x):
    print(f'{x} Raised to the power of 2:')
    result = x**2
    return result
exponentiation_exp_2(2)

2 Raised to the power of 2:

4

In [15]:
def plus_five(x):
    return x + 5

def m_by_3(x):
    return plus_five(x)*3

# plus_five(6)
m_by_3(5)

30

In [ ]:
# Define a function, called compare_the_two(), with two arguments. If the first one is greater than the second one, 
# let it print "Greater". If the second one is greater, it should print "Less". Let it print "Equal" if the two 
# values are the same number.

In [17]:
def compare_the_two(a,b):
    if a>b:
        return 'Greater'
    elif a<b:
        return 'Less'
    else:
        return 'Equal'
compare_the_two(2,2)

'Equal'

In [18]:
number = 35.56789
rounded_number = round(number, 3)

print(rounded_number)

35.568

In [ ]:
# Use a built-in function to raise 10 to the power of 3

In [26]:
# def power():
#     return 10**3
# # power()
print(pow(10,3))

1000

In [ ]:
# Create a function, called distance_from_zero(), that returns the absolute value of a provided single argument
# and prints a statement "Not Possible" if the argument provided is not a number. To solve the task, use the type() 
# function in the body of distance_from_zero().

# Call the function with the values of -10 and "cat" to verify it works correctly.

In [39]:
def distance_from_zero(num):
    if type(num)==int:
        return abs(num)
    else:
        print('Not Possible')
# distance_from_zero(-10)
distance_from_zero('cat')

Not Possible

In [41]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[2:4]

[50, 100]

In [42]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[2:]

[50, 100, 115, 140]

In [51]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[-4:]

[50, 100, 115, 140]

In [58]:
Numbers = [15, 40, 50, 100, 115, 140]
Numbers.sort(reverse=True)
print(Numbers)

[140, 115, 100, 50, 40, 15]

In [61]:
name, age = 'Peter,24'.split(',')
print(name)

Peter

In [ ]:
# Create a function called rectangle_info() that takes the length and width of a rectangle as arguments. 
# The function should then return the area and the perimeter of the rectangle. Call the function 
# with arguments 2 and 10 to verify it worked correctly.

In [64]:
def rectangle_info(l,w):
    P = 2*(l+w)
    A = l*w
    return A, P
rectangle_info(2,10)

(20, 24)

In [67]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu['meal_2']

'Fries'

In [73]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu['meal_5'] = 'Soup'

In [77]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu['meal_3'] = 'Cheeseburger'
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburger',
 'meal_4': 'Lasagna'}

In [81]:
Attach the Desserts list in the form of a sixth meal.
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu['sixth meal'] = Dessert
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburger',
 'meal_4': 'Lasagna',
 'sixth meal': ['Pancakes', 'Ice-cream', 'Tiramisu']}

In [124]:
# Create a new dictionary called Price_list that contains the first five meals of the Menu dictionary as keys and assign the 
# following five values as prices (assumed in dollars): 10, 5, 8, 12, 5. Start by Price_list = {}.
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}
Price_list = {}
prices = [10, 5, 8, 12, 5]
for index, (key, value) in enumerate(Menu.items()):
    Price_list[value] = prices[index]
Price_list

{'Spaghetti': 10, 'Fries': 5, 'Cheeseburger': 8, 'Lasagna': 12, 'Soup': 5}

In [107]:
# Existing dictionary
my_dict = {'key1': 'value1', 'key2': 'value2'}

# Adding a new key-value pair
my_dict['Spaghetti'] = 10

# Display the updated dictionary
print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'Spaghetti': 10}

In [3]:
# Use the print() function and the .get() method to check the price of the Spaghetti in the Price_list.
Price_list = {'Cheeseburger': 8, 'Fries': 5, 'Lasagna': 12, 'Soup': 5, 'Spaghetti': 10}
Price_list.get('Spaghetti')
print(Price_list.get('Spaghetti'))

10

In [2]:
Numbers = [15, 40, 50, 100, 115, 140]
for num in Numbers:
    print(num, end=' ')

15 40 50 100 115 140

In [13]:
# Create a while loop that will print all odd numbers from 0 to 30 on the same row.
n = 0
while n <= 29:
    n+=1
    if n%2==1:
        print(n, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [11]:
for n in range(0,31):
    if n%2==1:
        print(n, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29