In [1]:
import pandas
import numpy

In [2]:
raw = pandas.read_csv('Family Income and Expenditure.csv')
raw

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,...,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,119773,XII - SOCCSKSARGEN,44875,Enterpreneurial Activities,1,23675,21542,1476,6120,1632,...,0,0,0,0,0,1,0,0,0,0
41540,137320,XII - SOCCSKSARGEN,31157,Enterpreneurial Activities,1,2691,1273,1886,4386,1840,...,0,0,0,0,0,3,0,0,0,0
41541,133171,XII - SOCCSKSARGEN,45882,Enterpreneurial Activities,2,28646,27339,480,4796,1232,...,0,0,0,0,0,1,0,0,0,0
41542,129500,XII - SOCCSKSARGEN,81416,Enterpreneurial Activities,1,29996,26655,2359,17730,2923,...,0,0,0,0,0,2,0,0,0,0
41543,128598,XII - SOCCSKSARGEN,78195,Enterpreneurial Activities,1,43485,41205,1985,7735,2062,...,0,0,0,0,0,1,0,0,0,0

In [3]:
# Code to see all rows and columns
# pandas.options.display.max_columns = None
# pandas.options.display.max_rows = None

In [4]:
# Creating a copy of the data
data_copy = raw.copy()
data_copy

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,...,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,119773,XII - SOCCSKSARGEN,44875,Enterpreneurial Activities,1,23675,21542,1476,6120,1632,...,0,0,0,0,0,1,0,0,0,0
41540,137320,XII - SOCCSKSARGEN,31157,Enterpreneurial Activities,1,2691,1273,1886,4386,1840,...,0,0,0,0,0,3,0,0,0,0
41541,133171,XII - SOCCSKSARGEN,45882,Enterpreneurial Activities,2,28646,27339,480,4796,1232,...,0,0,0,0,0,1,0,0,0,0
41542,129500,XII - SOCCSKSARGEN,81416,Enterpreneurial Activities,1,29996,26655,2359,17730,2923,...,0,0,0,0,0,2,0,0,0,0
41543,128598,XII - SOCCSKSARGEN,78195,Enterpreneurial Activities,1,43485,41205,1985,7735,2062,...,0,0,0,0,0,1,0,0,0,0

In [5]:
# type(data_copy['Total Household Income'])
sample = data_copy['Region'].sample(n=100)
sample.describe()
data_copy.describe()

,Total Household Income,Total Food Expenditure,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
count,4.154400e+04,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,...,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000
mean,2.475556e+05,85099.158194,0.429858,25133.723642,18195.825005,10540.072574,10529.318337,2550.474990,5006.918568,15436.566075,...,0.394184,0.319806,0.129814,0.081215,0.060610,1.905738,0.315015,0.135038,0.013119,0.289885
std,2.868805e+05,51637.947682,0.676666,13466.482984,11727.224350,10497.727757,7812.201613,2969.752879,3300.175236,23705.195929,...,0.537025,0.478482,0.448673,0.346786,0.276732,1.558130,0.739698,0.354083,0.127171,0.558408
min,1.128500e+04,2947.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.048950e+05,51017.250000,0.000000,16556.000000,11020.000000,3353.750000,5504.000000,1024.750000,2873.000000,1930.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.640795e+05,72985.500000,0.000000,23324.000000,16620.000000,7332.500000,8695.000000,1820.000000,4314.000000,7314.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,2.911385e+05,105635.500000,1.000000,31439.000000,23920.000000,14292.000000,13388.000000,3100.000000,6304.250000,19921.250000,...,1.000000,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
max,1.181599e+07,827565.000000,2.000000,765864.000000,758326.000000,261566.000000,188208.000000,273769.000000,74800.000000,725296.000000,...,5.000000,3.000000,5.000000,5.000000,4.000000,10.000000,6.000000,3.000000,3.000000,5.000000

In [6]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41544 entries, 0 to 41543
Data columns (total 60 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Total Household Income                         41544 non-null  int64
 1   Region                                         41544 non-null  object
 2   Total Food Expenditure                         41544 non-null  int64
 3   Main Source of Income                          41544 non-null  object
 4   Agricultural Household indicator               41544 non-null  int64
 5   Bread and Cereals Expenditure                  41544 non-null  int64
 6   Total Rice Expenditure                         41544 non-null  int64
 7   Meat Expenditure                               41544 non-null  int64
 8   Total Fish and  marine products Expenditure    41544 non-null  int64
 9   Fruit Expenditure                              41544 non-null  int64
 10  Vegetables Expenditure                         41544 non-null  int64
 11  Restaurant and hotels Expenditure              41544 non-null  int64
 12  Alcoholic Beverages Expenditure                41544 non-null  int64
 13  Tobacco Expenditure                            41544 non-null  int64
 14  Clothing, Footwear and Other Wear Expenditure  41544 non-null  int64
 15  Housing and water Expenditure                  41544 non-null  int64
 16  Imputed House Rental Value                     41544 non-null  int64
 17  Medical Care Expenditure                       41544 non-null  int64
 18  Transportation Expenditure                     41544 non-null  int64
 19  Communication Expenditure                      41544 non-null  int64
 20  Education Expenditure                          41544 non-null  int64
 21  Miscellaneous Goods and Services Expenditure   41544 non-null  int64
 22  Special Occasions Expenditure                  41544 non-null  int64
 23  Crop Farming and Gardening expenses            41544 non-null  int64
 24  Total Income from Entrepreneurial Acitivites   41544 non-null  int64
 25  Household Head Sex                             41544 non-null  object
 26  Household Head Age                             41544 non-null  int64
 27  Household Head Marital Status                  41544 non-null  object
 28  Household Head Highest Grade Completed         41544 non-null  object
 29  Household Head Job or Business Indicator       41544 non-null  object
 30  Household Head Occupation                      34008 non-null  object
 31  Household Head Class of Worker                 34008 non-null  object
 32  Type of Household                              41544 non-null  object
 33  Total Number of Family members                 41544 non-null  int64
 34  Members with age less than 5 year old          41544 non-null  int64
 35  Members with age 5 - 17 years old              41544 non-null  int64
 36  Total number of family members employed        41544 non-null  int64
 37  Type of Building/House                         41544 non-null  object
 38  Type of Roof                                   41544 non-null  object
 39  Type of Walls                                  41544 non-null  object
 40  House Floor Area                               41544 non-null  int64
 41  House Age                                      41544 non-null  int64
 42  Number of bedrooms                             41544 non-null  int64
 43  Tenure Status                                  41544 non-null  object
 44  Toilet Facilities                              39964 non-null  object
 45  Electricity                                    41544 non-null  int64
 46  Main Source of Water Supply                    41544 non-null  object
 47  Number of Television                           41544 non-null  int64
 48  Number of CD/VCD/DVD                           41544 non-null  int64
 49  Number of Component/Stereo set                 41544 non-null  int64
 50  Number of Refrigerator/Freezer                 41544 non-null  int64
 51  Number of Washing Machine                      41544 non-null  int64
 52  Number of Airconditioner                       41544 non-null  int64
 53  Number of Car, Jeep, Van                       41544 non-null  int64
 54  Number of Landline/wireless telephones         41544 non-null  int64
 55  Number of Cellular phone                       41544 non-null  int64
 56  Number of Personal Computer                    41544 non-null  int64
 57  Number of Stove with Oven/Gas Range            41544 non-null  int64
 58  Number of Motorized Banca                      41544 non-null  int64
 59  Number of Motorcycle/Tricycle                  41544 non-null  int64
dtypes: int64(45), object(15)
memory usage: 19.0+ MB

In [7]:
agri_ind = pandas.get_dummies(data_copy['Agricultural Household indicator']).astype(numpy.int64)
agri_ind

       0  1  2
0      1  0  0
1      1  0  0
2      0  1  0
3      1  0  0
4      1  0  0
...   .. .. ..
41539  0  1  0
41540  0  1  0
41541  0  0  1
41542  0  1  0
41543  0  1  0

[41544 rows x 3 columns]

In [8]:
agri_ind['agri_indicator'] = agri_ind.sum(axis=1)
agri_ind

       0  1  2  agri_indicator
0      1  0  0               1
1      1  0  0               1
2      0  1  0               1
3      1  0  0               1
4      1  0  0               1
...   .. .. ..             ...
41539  0  1  0               1
41540  0  1  0               1
41541  0  0  1               1
41542  0  1  0               1
41543  0  1  0               1

[41544 rows x 4 columns]

In [9]:
agri_ind['agri_indicator'].sum(axis=0)

41544

### Reordering Colums

In [10]:
list(data_copy.columns.values)

['Total Household Income',
 'Region',
 'Total Food Expenditure',
 'Main Source of Income',
 'Agricultural Household indicator',
 'Bread and Cereals Expenditure',
 'Total Rice Expenditure',
 'Meat Expenditure',
 'Total Fish and  marine products Expenditure',
 'Fruit Expenditure',
 'Vegetables Expenditure',
 'Restaurant and hotels Expenditure',
 'Alcoholic Beverages Expenditure',
 'Tobacco Expenditure',
 'Clothing, Footwear and Other Wear Expenditure',
 'Housing and water Expenditure',
 'Imputed House Rental Value',
 'Medical Care Expenditure',
 'Transportation Expenditure',
 'Communication Expenditure',
 'Education Expenditure',
 'Miscellaneous Goods and Services Expenditure',
 'Special Occasions Expenditure',
 'Crop Farming and Gardening expenses',
 'Total Income from Entrepreneurial Acitivites',
 'Household Head Sex',
 'Household Head Age',
 'Household Head Marital Status',
 'Household Head Highest Grade Completed',
 'Household Head Job or Business Indicator',
 'Household Head Occupation',
 'Household Head Class of Worker',
 'Type of Household',
 'Total Number of Family members',
 'Members with age less than 5 year old',
 'Members with age 5 - 17 years old',
 'Total number of family members employed',
 'Type of Building/House',
 'Type of Roof',
 'Type of Walls',
 'House Floor Area',
 'House Age',
 'Number of bedrooms',
 'Tenure Status',
 'Toilet Facilities',
 'Electricity',
 'Main Source of Water Supply',
 'Number of Television',
 'Number of CD/VCD/DVD',
 'Number of Component/Stereo set',
 'Number of Refrigerator/Freezer',
 'Number of Washing Machine',
 'Number of Airconditioner',
 'Number of Car, Jeep, Van',
 'Number of Landline/wireless telephones',
 'Number of Cellular phone',
 'Number of Personal Computer',
 'Number of Stove with Oven/Gas Range',
 'Number of Motorized Banca',
 'Number of Motorcycle/Tricycle']

### value_counts() method

In [11]:
len(data_copy['Agricultural Household indicator'].unique())

3

In [12]:
data_copy['Agricultural Household indicator'].value_counts()

Agricultural Household indicator
0    28106
1     9018
2     4420
Name: count, dtype: int64

In [13]:
ditas=data_copy['Household Head Highest Grade Completed'].nunique()
ditas

46

In [14]:
dita=data_copy['Household Head Highest Grade Completed'].unique()
len(data_copy['Household Head Highest Grade Completed'].unique())
for index, item in enumerate(dita):
    print(f'{index+1}. {item}')

1. Teacher Training and Education Sciences Programs
2. Transport Services Programs
3. Grade 3
4. Elementary Graduate
5. Second Year High School
6. Third Year High School
7. Business and Administration Programs
8. First Year College
9. High School Graduate
10. Other Programs in Education at the Third Level, First Stage, of the Type that Leads to an Award not Equivalent to a First University or Baccalaureate Degree
11. Humanities Programs
12. First Year High School
13. Grade 6
14. Grade 4
15. Engineering and Engineering Trades Programs
16. Grade 2
17. Grade 5
18. Social and Behavioral Science Programs
19. Agriculture, Forestry, and Fishery Programs
20. Health Programs
21. Fourth Year College
22. Engineering and Engineering trades Programs
23. Second Year College
24. Third Year College
25. Grade 1
26. No Grade Completed
27. Security Services Programs
28. Basic Programs
29. First Year Post Secondary
30. Second Year Post Secondary
31. Post Baccalaureate
32. Computing/Information Technology Programs
33. Mathematics and Statistics Programs
34. Personal Services Programs
35. Law Programs
36. Journalism and Information Programs
37. Architecture and Building Programs
38. Manufacturing and Processing Programs
39. Life Sciences Programs
40. Other Programs of Education at the Third Level, First Stage, of the Type that Leads to a Baccalaureate or First University/Professional Degree (HIgher Education Level, First Stage, or Collegiate Education Level)
41. Social Services Programs
42. Preschool
43. Physical Sciences Programs
44. Arts Programs
45. Veterinary Programs
46. Environmental Protection Programs

In [19]:
data_copy['Total Food Expenditure']

0        117848
1         67766
2         61609
3         78189
4         94625
          ...
41539     44875
41540     31157
41541     45882
41542     81416
41543     78195
Name: Total Food Expenditure, Length: 41544, dtype: int64