In [1]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

In [10]:
list = []
for pos in products_on_sale:
    for sp in sale_prices:
        combo = [pos,sp]
        list.append(combo)
for l in list:
    print(l)

['Chair_Type_1', 100]
['Chair_Type_1', 120]
['Chair_Type_1', 135]
['Chair_Type_1', 150]
['Chair_Type_2', 100]
['Chair_Type_2', 120]
['Chair_Type_2', 135]
['Chair_Type_2', 150]
['Chair_Type_3', 100]
['Chair_Type_3', 120]
['Chair_Type_3', 135]
['Chair_Type_3', 150]
['Chair_Type_4', 100]
['Chair_Type_4', 120]
['Chair_Type_4', 135]
['Chair_Type_4', 150]

In [6]:
combinations = []

# Nested loop to create combinations
for product in products_on_sale:
    for price in sale_prices:
        combination = [product, price]
        combinations.append(combination)

# Display the combinations
for combination in combinations:
    print(combination)

['Chair_Type_1', 100]
['Chair_Type_1', 120]
['Chair_Type_1', 135]
['Chair_Type_1', 150]
['Chair_Type_2', 100]
['Chair_Type_2', 120]
['Chair_Type_2', 135]
['Chair_Type_2', 150]
['Chair_Type_3', 100]
['Chair_Type_3', 120]
['Chair_Type_3', 135]
['Chair_Type_3', 150]
['Chair_Type_4', 100]
['Chair_Type_4', 120]
['Chair_Type_4', 135]
['Chair_Type_4', 150]

In [8]:
list == combinations

True

In [9]:
for i in range(0,10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [11]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

In [16]:
list=[]

for pos in products_on_sale:
    for sp in sale_prices:
        for q in quantities:
            list.append([pos,sp*q])
            print(f'Expected revenue for {pos} if {q} chairs are to be sold: {sp*q}')
# for item in list:
#     print(f'Expected revenue for {item[0]} if 1000 chairs are to be sold: 100000')

Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 195000
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 195000
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 195000
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 195000

In [25]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

sr = []

for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            # print ([chair_type, price*quantity])
            sr.append([chair_type, price*quantity])
print(sr)

[['Chair_Type_1', 100000], ['Chair_Type_1', 150000], ['Chair_Type_1', 130000], ['Chair_Type_1', 120000], ['Chair_Type_1', 180000], ['Chair_Type_1', 156000], ['Chair_Type_1', 135000], ['Chair_Type_1', 202500], ['Chair_Type_1', 175500], ['Chair_Type_1', 150000], ['Chair_Type_1', 225000], ['Chair_Type_1', 195000], ['Chair_Type_2', 100000], ['Chair_Type_2', 150000], ['Chair_Type_2', 130000], ['Chair_Type_2', 120000], ['Chair_Type_2', 180000], ['Chair_Type_2', 156000], ['Chair_Type_2', 135000], ['Chair_Type_2', 202500], ['Chair_Type_2', 175500], ['Chair_Type_2', 150000], ['Chair_Type_2', 225000], ['Chair_Type_2', 195000], ['Chair_Type_3', 100000], ['Chair_Type_3', 150000], ['Chair_Type_3', 130000], ['Chair_Type_3', 120000], ['Chair_Type_3', 180000], ['Chair_Type_3', 156000], ['Chair_Type_3', 135000], ['Chair_Type_3', 202500], ['Chair_Type_3', 175500], ['Chair_Type_3', 150000], ['Chair_Type_3', 225000], ['Chair_Type_3', 195000], ['Chair_Type_4', 100000], ['Chair_Type_4', 150000], ['Chair_Type_4', 130000], ['Chair_Type_4', 120000], ['Chair_Type_4', 180000], ['Chair_Type_4', 156000], ['Chair_Type_4', 135000], ['Chair_Type_4', 202500], ['Chair_Type_4', 175500], ['Chair_Type_4', 150000], ['Chair_Type_4', 225000], ['Chair_Type_4', 195000]]

In [29]:
sales_revenue = [[pos, sp*q] for pos in products_on_sale for sp in sale_prices for q in quantities]
sales_revenue

[['Chair_Type_1', 100000],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 130000],
 ['Chair_Type_1', 120000],
 ['Chair_Type_1', 180000],
 ['Chair_Type_1', 156000],
 ['Chair_Type_1', 135000],
 ['Chair_Type_1', 202500],
 ['Chair_Type_1', 175500],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 225000],
 ['Chair_Type_1', 195000],
 ['Chair_Type_2', 100000],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 130000],
 ['Chair_Type_2', 120000],
 ['Chair_Type_2', 180000],
 ['Chair_Type_2', 156000],
 ['Chair_Type_2', 135000],
 ['Chair_Type_2', 202500],
 ['Chair_Type_2', 175500],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 225000],
 ['Chair_Type_2', 195000],
 ['Chair_Type_3', 100000],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 130000],
 ['Chair_Type_3', 120000],
 ['Chair_Type_3', 180000],
 ['Chair_Type_3', 156000],
 ['Chair_Type_3', 135000],
 ['Chair_Type_3', 202500],
 ['Chair_Type_3', 175500],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 225000],
 ['Chair_Type_3', 195000],
 ['Chair_Type_4', 100000],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 130000],
 ['Chair_Type_4', 120000],
 ['Chair_Type_4', 180000],
 ['Chair_Type_4', 156000],
 ['Chair_Type_4', 135000],
 ['Chair_Type_4', 202500],
 ['Chair_Type_4', 175500],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 225000],
 ['Chair_Type_4', 195000]]

In [26]:
sales_revenue == sr

True

In [33]:
#Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.
# Please remember to use the print() function to print out the desired output.

for i in range(1,11):
    print(i)

list = [i*10 for i in range(1,11) if i%2==0]
print(list)

1
2
3
4
5
6
7
8
9
10
[20, 40, 60, 80, 100]

In [34]:
list = []
for i in range(1,11):
    if i%2 == 0:
        list.append(i*10)
print(list)

[20, 40, 60, 80, 100]

In [39]:
# Using list comprehension, return a list that contains the element from range(1, 11) multiplied by 10 if the number is even, 
# and "None" if that number is odd.
# Please use num as an iteration variable name in the required list comprehension.
# result = [num * 10 if num % 2 == 0 else None for num in range(1, 11)]
list = [num*10 if num%2==0 else None for num in range(1,11)]
print(list)

[None, 20, None, 40, None, 60, None, 80, None, 100]

### Lambda Function

In [43]:
(lambda x: x/7) (990+3)

141.85714285714286

In [53]:
# Define a function called multiply_by_10 that will return a value ten times bigger than the argument.
# (lambda multiply_by_10: multiply_by_10*10) (7)
m7 = lambda multiply_by_10: multiply_by_10*10
result = m7(7)
print(result)

70

In [45]:
def multiply_by_10(x):
    return x * 10

# Apply the function to the argument 5
result = multiply_by_10(5)

# Print the result
print(result)

50

In [50]:
multiply_by_10 = lambda x: x * 10

# Execute the lambda function with an argument of 7
result = multiply_by_10(7)

# Print the result
print(result)

70

In [8]:
# Define a Lambda function named product_xy that returns the product of two parameters, x and y. 
# Execute it with arguments 4 and 20, respectively.

product_xy = lambda x,y: x*y
prod=product_xy(4,20)
print(prod)

80

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 3.

### $\frac{(135-x^3)^4}{(1+x)^5}$

In [20]:
equation = lambda x: ((135-x**3)**4)/((1+x)**5)
result=equation(3)
print(result)

132860.25

In [24]:
import pandas as pd
employee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
employee_names_Series = pd.Series(employee_names)
print(employee_names_Series)

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
3          Sara Johnson
dtype: object

In [27]:
# Now, create a Series object directly. That is, not from an existing list, but by using the following structure: pd.Series([...])
# Let the elements of the Series object be the following numbers: 5, 8, 3, and 10. Name the object work_experience_yrs.

work_experience_yrs = pd.Series([5, 8, 3,10])
print(work_experience_yrs)

0     5
1     8
2     3
3    10
dtype: int64

Use an appropriate method to extract the top five values from the employees_work_exp Series.
Please be aware that pandas may automatically display the values of the object as floats as opposed to integers.

In [28]:
employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

In [41]:
new = employees_work_exp.sort_values(ascending=False)
print(new.head(5))

Patrick Adams        28.0
Sara Johnson         22.0
Jessica Baker        14.0
Jennifer Phillips    10.0
Daniel Lloyd          6.0
dtype: float64

In [42]:
top_five_values = employees_work_exp.nlargest(5)

# Print the result
print(top_five_values)

Patrick Adams        28.0
Sara Johnson         22.0
Jessica Baker        14.0
Jennifer Phillips    10.0
Daniel Lloyd          6.0
dtype: float64