### Importing packages

In [ ]:
import numpy
import pandas
import matplotlib
import seaborn
import sklearn
import scipy
import statsmodels.api as sm

### Reading a CSV file

In [18]:
data = pandas.read_csv('1.01.+Simple+linear+regression.csv')
print(type(data))
data

<class 'pandas.core.frame.DataFrame'>

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

### Data Description

In [ ]:
data.de