In [1]:
import pandas

In [6]:
data = pandas.read_csv('statcsv.csv')

In [7]:
data_copy = data.copy()
data_copy

     WEIGHT   f  CUMULATIVE f  cum percent
0   240–249   1            53          100
1   230–239   0            52           98
2   220–229   3            52           98
3   210–219   0            49           92
4   200–209   2            49           92
5   190–199   4            47           89
6   180–189   3            43           81
7   170–179   7            40           75
8   160–169  12            33           62
9   150–159  17            21           40
10  140–149   1             4            8
11  130–139   3             3            6

In [20]:
cumf = data_copy['CUMULATIVE f']
sumf = sum(data.f)
res = [round((item/sumf)*100) for item in cumf]
res

[100, 98, 98, 92, 92, 89, 81, 75, 62, 40, 8, 6]