In [19]:
def data_rows(your_data,rows,columns):
    print('ROWS')
    print(f'data = {your_data}')
    row_totals = []
    for i in range(0,len(your_data),columns):
        row_data = your_data[i:i+columns]
        row_numbers = [num for sublist in row_data for num in sublist]
        print(row_numbers)
        row_totals.append(sum(row_numbers))
        print('========')
    print(f'row_totals = {row_totals}')
    print('\n')
    print('COLUMNS')

In [21]:
danger_zero = [8,8]
danger_two = [8,6]
danger_four = [10,8]
non_danger_zero = [9,11]
non_danger_two = [15,19]
non_danger_four = [24,18]
danger_data = [danger_zero,danger_two,danger_four,non_danger_zero,non_danger_two,non_danger_four]
rows3 = 2
columns3 = 3
data_rows(danger_data,rows3,columns3)
data_columns(danger_data,rows3,columns3)

ROWS
data = [[8, 8], [8, 6], [10, 8], [9, 11], [15, 19], [24, 18]]
[8, 8, 8, 6, 10, 8]
========
[9, 11, 15, 19, 24, 18]
========
row_totals = [48, 96]


COLUMNS
[[8, 8], [8, 6], [10, 8], [9, 11], [15, 19], [24, 18]]
16
20
column_data_sum = 36
=========
14
34
column_data_sum = 48
=========
18
42
column_data_sum = 60
=========
column_data_final = [36, 48, 60]

In [24]:
X0 = [0,1,0,0]
X1 = [1,0,1,1]
X2 = [3,5,6,2]
X3 = [6,9,6,10]
X_total = [X0,X1,X2,X3]
rows = 2
columns = 3
n = 2
data_columns(X_total,rows,columns)

[[0, 1, 0, 0], [1, 0, 1, 1], [3, 5, 6, 2], [6, 9, 6, 10]]
1
31
column_data_sum = 32
=========
3

IndexError: list index out of range

In [2]:
# 0 4 8
# 1 5 9
# 2 6 10
# 3 7 11
def data_columns(your_data,rows,columns):
    print(your_data)
    column_data_final = []
    for i in range(columns):
        # print(i)
        column_data = []
        index = 0
        j = 0
        while j != rows:  
            # print(f'index = {i}')
            # print(your_data[i])
            print(sum(your_data[i]))
            column_data.append(sum(your_data[i]))
            i+=columns
            j+=1
        column_data_sum = sum(column_data)
        column_data_final.append(column_data_sum)
        print(f'column_data_sum = {column_data_sum}')
        print('=========')
    print(f'column_data_final = {column_data_final}')

In [3]:
zero_zero_c = [6,4,5]
zero_500_c = [5,3,3]
zero_thousand_c = [4,2,3]
zero_1500_c = [2,3,2]

half_zero_c = [5,4,5]
half_500_c = [4,3,2]
half_thousand_c = [3,2,3]
half_1500_c = [2,1,2]

one_zero_c = [4,3,4]
one_500_c = [4,2,3]
one_thousand_c = [3,2,2]
one_1500_c = [1,2,1]
data = [zero_zero_c,zero_500_c,zero_thousand_c,zero_1500_c,half_zero_c,half_500_c,half_thousand_c,half_1500_c,one_zero_c,one_500_c,one_thousand_c,one_1500_c]
rows = 3
columns = 4
num_of_items_in_list = 3

In [4]:
data_rows(data,rows,columns)

ROWS
data = [[6, 4, 5], [5, 3, 3], [4, 2, 3], [2, 3, 2], [5, 4, 5], [4, 3, 2], [3, 2, 3], [2, 1, 2], [4, 3, 4], [4, 2, 3], [3, 2, 2], [1, 2, 1]]
[6, 4, 5, 5, 3, 3, 4, 2, 3, 2, 3, 2]
========
[5, 4, 5, 4, 3, 2, 3, 2, 3, 2, 1, 2]
========
[4, 3, 4, 4, 2, 3, 3, 2, 2, 1, 2, 1]
========
row_totals = [42, 36, 31]


COLUMNS

In [5]:
data_columns(data,rows,columns)

[[6, 4, 5], [5, 3, 3], [4, 2, 3], [2, 3, 2], [5, 4, 5], [4, 3, 2], [3, 2, 3], [2, 1, 2], [4, 3, 4], [4, 2, 3], [3, 2, 2], [1, 2, 1]]
15
14
11
column_data_sum = 40
=========
11
9
9
column_data_sum = 29
=========
9
8
7
column_data_sum = 24
=========
7
5
4
column_data_sum = 16
=========
column_data_final = [40, 29, 24, 16]

In [6]:
zero_zero_c = [6,4,5]
zero_500_c = [5,3,3]
zero_thousand_c = [4,2,3]
zero_1500_c = [2,3,2]

half_zero_c = [5,4,5]
half_500_c = [4,3,2]
half_thousand_c = [3,2,3]
half_1500_c = [2,1,2]

one_zero_c = [4,3,4]
one_500_c = [4,2,3]
one_thousand_c = [3,2,2]
one_1500_c = [1,2,1]

rows1 = 3
columns1 = 4
num_of_items_in_list1 = 3

# data1 = zero_zero_c+zero_500_c+zero_thousand_c+zero_1500_c
# data2 = half_zero_c+half_500_c+half_thousand_c+half_1500_c
# data3 = one_zero_c+one_500_c+one_thousand_c+one_1500_c
# print(f'data1 = {data1},{sum(data1)}')
# print(f'data2 = {data2},{sum(data2)}')
# print(f'data3 = {data3},{sum(data3)}')
data1 = [zero_zero_c,zero_500_c,zero_thousand_c,zero_1500_c,half_zero_c,half_500_c,half_thousand_c,half_1500_c,one_zero_c,one_500_c,one_thousand_c,one_1500_c]
# data = zero_zero_c+zero_500_c+zero_thousand_c+zero_1500_c+half_zero_c+half_500_c+half_thousand_c+half_1500_c+one_zero_c+one_500_c+one_thousand_c+one_1500_c
print(type(data1))
print(data1)

<class 'list'>
[[6, 4, 5], [5, 3, 3], [4, 2, 3], [2, 3, 2], [5, 4, 5], [4, 3, 2], [3, 2, 3], [2, 1, 2], [4, 3, 4], [4, 2, 3], [3, 2, 2], [1, 2, 1]]

In [7]:
print(data[0:3])
print(data[3:6])
print(data[6:9])
print(data[9:12])
print('=========')
print(data[12:15])
print(data[15:18])
print(data[18:21])
print(data[21:24])
print('=========')
print(data[24:27])
print(data[27:30])
print(data[30:33])
print(data[33:36])

[[6, 4, 5], [5, 3, 3], [4, 2, 3]]
[[2, 3, 2], [5, 4, 5], [4, 3, 2]]
[[3, 2, 3], [2, 1, 2], [4, 3, 4]]
[[4, 2, 3], [3, 2, 2], [1, 2, 1]]
=========
[]
[]
[]
[]
=========
[]
[]
[]
[]

In [8]:
a1 = [6,4,5,3]
a2 = [5,3,3,6]
a3 = [4,2,3,8]
a4 = [2,3,2,2]

b1 = [5,4,5,4]
b2 = [4,3,2,3]
b3 = [3,2,3,4]
b4 = [2,1,2,1]

c1 = [4,3,4,2]
c2 = [4,2,3,1]
c3 = [3,2,2,5]
c4 = [1,2,1,3]

d1 = [4,3,4,2]
d2 = [4,2,3,1]
d3 = [3,2,2,5]
d4 = [1,2,1,3]

rows2 = 4
columns2 = 4
num_of_items_in_list2 = 4
data2 = [a1,a2,a3,a4,b1,b2,b3,b4,c1,c2,c3,c4,d1,d2,d3,d4]

data_rows(data2,rows2,columns2)
data_columns(data2,rows2,columns2)

ROWS
data = [[6, 4, 5, 3], [5, 3, 3, 6], [4, 2, 3, 8], [2, 3, 2, 2], [5, 4, 5, 4], [4, 3, 2, 3], [3, 2, 3, 4], [2, 1, 2, 1], [4, 3, 4, 2], [4, 2, 3, 1], [3, 2, 2, 5], [1, 2, 1, 3], [4, 3, 4, 2], [4, 2, 3, 1], [3, 2, 2, 5], [1, 2, 1, 3]]
[6, 4, 5, 3, 5, 3, 3, 6, 4, 2, 3, 8, 2, 3, 2, 2]
========
[5, 4, 5, 4, 4, 3, 2, 3, 3, 2, 3, 4, 2, 1, 2, 1]
========
[4, 3, 4, 2, 4, 2, 3, 1, 3, 2, 2, 5, 1, 2, 1, 3]
========
[4, 3, 4, 2, 4, 2, 3, 1, 3, 2, 2, 5, 1, 2, 1, 3]
========
row_totals = [61, 48, 42, 42]


COLUMNS
[[6, 4, 5, 3], [5, 3, 3, 6], [4, 2, 3, 8], [2, 3, 2, 2], [5, 4, 5, 4], [4, 3, 2, 3], [3, 2, 3, 4], [2, 1, 2, 1], [4, 3, 4, 2], [4, 2, 3, 1], [3, 2, 2, 5], [1, 2, 1, 3], [4, 3, 4, 2], [4, 2, 3, 1], [3, 2, 2, 5], [1, 2, 1, 3]]
18
18
13
13
column_data_sum = 62
=========
17
12
10
10
column_data_sum = 49
=========
17
12
12
12
column_data_sum = 53
=========
9
6
7
7
column_data_sum = 29
=========
column_data_final = [62, 49, 53, 29]

In [9]:
danger_zero = [8,8]
danger_two = [8,6]
danger_four = [10,8]
non_danger_zero = [9,11]
non_danger_two = [15,19]
non_danger_four = [24,18]
danger_data = [danger_zero,danger_two,danger_four,non_danger_zero,non_danger_two,non_danger_four]
rows3 = 2
columns3 = 3
data_rows(danger_data,rows3,columns3)
data_columns(danger_data,rows3,columns3)

ROWS
data = [[8, 8], [8, 6], [10, 8], [9, 11], [15, 19], [24, 18]]
[8, 8, 8, 6, 10, 8]
========
[9, 11, 15, 19, 24, 18]
========
row_totals = [48, 96]


COLUMNS
[[8, 8], [8, 6], [10, 8], [9, 11], [15, 19], [24, 18]]
16
20
column_data_sum = 36
=========
14
34
column_data_sum = 48
=========
18
42
column_data_sum = 60
=========
column_data_final = [36, 48, 60]

In [10]:
X0 = [0,1,0,0]
X1 = [1,0,1,1]
X2 = [3,5,6,2]
X3 = [6,9,6,10]
X_total = [X0,X1,X2,X3]
rows = 2
columns = 3
n = 2

In [14]:
data_columns(X_total,rows,columns)

[[0, 1, 0, 0], [1, 0, 1, 1], [3, 5, 6, 2], [6, 9, 6, 10]]
1
31
column_data_sum = 32
=========
3

IndexError: list index out of range