In [1]:
import pandas
import numpy

In [2]:
raw = pandas.read_csv('Family Income and Expenditure.csv')
raw

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,...,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,119773,XII - SOCCSKSARGEN,44875,Enterpreneurial Activities,1,23675,21542,1476,6120,1632,...,0,0,0,0,0,1,0,0,0,0
41540,137320,XII - SOCCSKSARGEN,31157,Enterpreneurial Activities,1,2691,1273,1886,4386,1840,...,0,0,0,0,0,3,0,0,0,0
41541,133171,XII - SOCCSKSARGEN,45882,Enterpreneurial Activities,2,28646,27339,480,4796,1232,...,0,0,0,0,0,1,0,0,0,0
41542,129500,XII - SOCCSKSARGEN,81416,Enterpreneurial Activities,1,29996,26655,2359,17730,2923,...,0,0,0,0,0,2,0,0,0,0
41543,128598,XII - SOCCSKSARGEN,78195,Enterpreneurial Activities,1,43485,41205,1985,7735,2062,...,0,0,0,0,0,1,0,0,0,0

In [3]:
# Code to see all rows and columns
# pandas.options.display.max_columns = None
# pandas.options.display.max_rows = None

In [4]:
# Creating a copy of the data
data_copy = raw.copy()
data_copy

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,...,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,119773,XII - SOCCSKSARGEN,44875,Enterpreneurial Activities,1,23675,21542,1476,6120,1632,...,0,0,0,0,0,1,0,0,0,0
41540,137320,XII - SOCCSKSARGEN,31157,Enterpreneurial Activities,1,2691,1273,1886,4386,1840,...,0,0,0,0,0,3,0,0,0,0
41541,133171,XII - SOCCSKSARGEN,45882,Enterpreneurial Activities,2,28646,27339,480,4796,1232,...,0,0,0,0,0,1,0,0,0,0
41542,129500,XII - SOCCSKSARGEN,81416,Enterpreneurial Activities,1,29996,26655,2359,17730,2923,...,0,0,0,0,0,2,0,0,0,0
41543,128598,XII - SOCCSKSARGEN,78195,Enterpreneurial Activities,1,43485,41205,1985,7735,2062,...,0,0,0,0,0,1,0,0,0,0

In [5]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41544 entries, 0 to 41543
Data columns (total 60 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Total Household Income                         41544 non-null  int64
 1   Region                                         41544 non-null  object
 2   Total Food Expenditure                         41544 non-null  int64
 3   Main Source of Income                          41544 non-null  object
 4   Agricultural Household indicator               41544 non-null  int64
 5   Bread and Cereals Expenditure                  41544 non-null  int64
 6   Total Rice Expenditure                         41544 non-null  int64
 7   Meat Expenditure                               41544 non-null  int64
 8   Total Fish and  marine products Expenditure    41544 non-null  int64
 9   Fruit Expenditure                              41544 non-null  int64
 10  Vegetables Expenditure                         41544 non-null  int64
 11  Restaurant and hotels Expenditure              41544 non-null  int64
 12  Alcoholic Beverages Expenditure                41544 non-null  int64
 13  Tobacco Expenditure                            41544 non-null  int64
 14  Clothing, Footwear and Other Wear Expenditure  41544 non-null  int64
 15  Housing and water Expenditure                  41544 non-null  int64
 16  Imputed House Rental Value                     41544 non-null  int64
 17  Medical Care Expenditure                       41544 non-null  int64
 18  Transportation Expenditure                     41544 non-null  int64
 19  Communication Expenditure                      41544 non-null  int64
 20  Education Expenditure                          41544 non-null  int64
 21  Miscellaneous Goods and Services Expenditure   41544 non-null  int64
 22  Special Occasions Expenditure                  41544 non-null  int64
 23  Crop Farming and Gardening expenses            41544 non-null  int64
 24  Total Income from Entrepreneurial Acitivites   41544 non-null  int64
 25  Household Head Sex                             41544 non-null  object
 26  Household Head Age                             41544 non-null  int64
 27  Household Head Marital Status                  41544 non-null  object
 28  Household Head Highest Grade Completed         41544 non-null  object
 29  Household Head Job or Business Indicator       41544 non-null  object
 30  Household Head Occupation                      34008 non-null  object
 31  Household Head Class of Worker                 34008 non-null  object
 32  Type of Household                              41544 non-null  object
 33  Total Number of Family members                 41544 non-null  int64
 34  Members with age less than 5 year old          41544 non-null  int64
 35  Members with age 5 - 17 years old              41544 non-null  int64
 36  Total number of family members employed        41544 non-null  int64
 37  Type of Building/House                         41544 non-null  object
 38  Type of Roof                                   41544 non-null  object
 39  Type of Walls                                  41544 non-null  object
 40  House Floor Area                               41544 non-null  int64
 41  House Age                                      41544 non-null  int64
 42  Number of bedrooms                             41544 non-null  int64
 43  Tenure Status                                  41544 non-null  object
 44  Toilet Facilities                              39964 non-null  object
 45  Electricity                                    41544 non-null  int64
 46  Main Source of Water Supply                    41544 non-null  object
 47  Number of Television                           41544 non-null  int64
 48  Number of CD/VCD/DVD                           41544 non-null  int64
 49  Number of Component/Stereo set                 41544 non-null  int64
 50  Number of Refrigerator/Freezer                 41544 non-null  int64
 51  Number of Washing Machine                      41544 non-null  int64
 52  Number of Airconditioner                       41544 non-null  int64
 53  Number of Car, Jeep, Van                       41544 non-null  int64
 54  Number of Landline/wireless telephones         41544 non-null  int64
 55  Number of Cellular phone                       41544 non-null  int64
 56  Number of Personal Computer                    41544 non-null  int64
 57  Number of Stove with Oven/Gas Range            41544 non-null  int64
 58  Number of Motorized Banca                      41544 non-null  int64
 59  Number of Motorcycle/Tricycle                  41544 non-null  int64
dtypes: int64(45), object(15)
memory usage: 19.0+ MB

In [7]:
agri_ind = pandas.get_dummies(data_copy['Agricultural Household indicator']).astype
agri_ind

           0      1      2
0       True  False  False
1       True  False  False
2      False   True  False
3       True  False  False
4       True  False  False
...      ...    ...    ...
41539  False   True  False
41540  False   True  False
41541  False  False   True
41542  False   True  False
41543  False   True  False

[41544 rows x 3 columns]