In [1]:
import pandas

In [2]:
data = pandas.read_csv('Location.csv')

In [3]:
location_data = data.copy().squeeze()
# location_data = data.copy()

In [4]:
type(location_data)

pandas.core.series.Series

In [5]:
location_data.sort_values(ascending=False)

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [6]:
location_data.index

RangeIndex(start=0, stop=1043, step=1)

In [ ]:
data = {'Name': ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],
        'Age': [50, 53, 35,43],
        'Work Experience(Yrs.)': [5,8,3,10]}

In [ ]:
df = pandas.DataFrame(data)

In [ ]:
df